body {
  margin: 0;
  padding: 0;

}

.text-info {
    color: #343b49!important;
}

p {
    font-family: Roboto,sans-serif!important;
    font-size: 16px;
    font-weight: 600;
}

#login_section {
    background: #fdbc00 url(images/Vectorbg.png);
      color: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 100%;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

footer {
    padding: 10px 0;
    font-size: 14px;
    background-color: #343b49;
    color: #fff;
    font-weight: 400;
}

.btn-primary{
    background-color: #ffc002;
    color: #001f60!important;
    border-radius: 5px;
    font-family: Roboto,sans-serif!important;
    text-decoration: none;
    padding: 8px 20px!important;
    display: block;
    border-color: #ffc002;
  }
  
.btn-primary:hover{
    background-color: #ff8900;
    border-color: #ff8900;
}

.required-field::after {
    content: " *";
    color: red;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #836816;
    color: #fff;
}

.nav-link {
    color: #000000;
}

.btn-custom {
    background-color: #836816;
    color: #fff;
}


.box select {
  background-color: #FFC002;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  font-family: FontAwesome;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}