<html>
    <head>
        <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <link href="{{ url_for('static',filename='header.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='login-page.css') }}" rel="stylesheet">
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white">
        <a class="navbar-brand" href="http://127.0.0.1:5000/"><img class="d-inline-block align-top" src="{{ url_for('static',filename='images/vac-logo.png') }}" width="120" height="80" style="margin-left: 25px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="http://127.0.0.1:5000/">Home</a>
            </li>
<!--            <li class="nav-item" action="/about" method="get">-->
<!--              &lt;!&ndash; <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="http://127.0.0.1:5000/about">About Us</a> &ndash;&gt;-->
<!--                <button type="submit" style="background-color:white; border:none" class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show" href="http://127.0.0.1:5000/about"> About Us</button>-->
<!--            </li>-->

              <form class="nav-item" action="/faq" method="get">
              <button type="submit" style="background-color:white; border:none" class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show" href="http://127.0.0.1:5000/faq"> FAQ </button>
            </form>

              <form class="nav-item" action="/cert" method="get">
              <button type="submit" style="background-color:white; border:none" class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show" href="http://127.0.0.1:5000/cert"> Get Certificate</button>
            </form>


<!--            <li class="nav-item">-->
<!--              <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" href="contact_us.html">Contact Us</a>-->
<!--            </li>-->

              <form class="nav-item" action="/contactUs" method="get">
              <button type="submit" style="background-color:white; border:none" class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show" href="http://127.0.0.1:5000/contactUs"> ContactUS </button>
            </form>

           <form class="form-inline" style="margin-left: 40px;" action="/admin" method="get">
            <button type="submit"  class="btn btn-primary btn-md my-2 my-sm-0"  data-toggle="collapse" data-target=".navbar-collapse.show" style="margin-right: 1pc;" href="http://127.0.0.1:5000/admin"> Admin </button>
             </form>
              <form class="form-inline" action="/register" method="get">
              <button type="submit"  class="btn btn-primary btn-md my-2 my-sm-0"  data-toggle="collapse" data-target=".navbar-collapse.show" href="http://127.0.0.1:5000/sign-in"> Register/ Sign In yourself </button>
            </form>
          </ul>
        </div>
      </nav>
      
          <br><br><br><br><br><br>
        

   <div _ngcontent-bap-c10="" class="panel-body card-block card-body">
    	<h3> 1. Where can I register for the covid vaccination?</h3>
    	<p>You can log into the Vaccine portal using the link<a href="/" target="_blank"></a> and click on the “Register/Sign In yourself” tab to register for COVID-19 vaccination</p>

        <h3> 2. Is there a mobile app that needs to be installed to register for vaccination? </h3><p>
        There is no authorised mobile app for registering for vaccination in India.You need to log into the Vaccine portal.Alternatively, you can also register for vaccination through the VaccineAppApp and CheckIn app.</p>

	<h3> 3. Which age groups can register for vaccination on the Vaccine portal? </h3>
	<p> All citizens aged 18 years and above can register for vaccination. </p>

	<h3> 4. Is online registration mandatory for Covid 19 vaccination? </h3>
	<p> Vaccination Centres provide for a limited number of on-spot registration slots every day. Beneficiaries aged 45 years and above can schedule appointments online or walk-in to vaccination centres. Beneficiaries aged 18 years and above can schedule appointments online or walk-in to Government vaccination centres. However, beneficiaries aged 18-44 years should mandatorily register themselves and schedule appointment online before going to a Private vaccination centre.
	In general, all beneficiaries are recommended to register online and schedule vaccination in advance for a hassle-free vaccination experience. </p>

	<h3> 5. How many people can be registered in the Vaccine portal through one mobile number? </h3>
	<p> Up to 4 people can be registered for vaccination using the same mobile number. </p>

	<h3> 6. How can beneficiaries with no access to smart phones or computers manage online registration? </h3>
	<p> Up to 4 people can be registered for vaccination using the same mobile number. Beneficiaries can take help from friends or family for online registration. </p>

	<h3> 8. Is there any registration charges to be paid?</h3>
	<p> No. There is no registration charge. </p></div>

<div _ngcontent-bap-c10="" class="panel-body card-block card-body">

	<h3> 9. Can I book an appointment for vaccination in the Vaccine portal? </h3>
	<p> Yes, you can book appointment for vaccination through Vaccine portal after logging-in to the Vaccine Portal through your registered mobile number.</p>

	<h3> 10. What are the options if one citizen is aged 45 or above and other is aged 18 or above? </h3>
	<p> If one beneficiary is aged 45 or above and other beneficiary is aged 18 to 44 years and both want to schedule a combined appointment, then only private paid vaccination centres or vaccination centres as per State’s policy will be made available. However, it may happen that some hospitals which are catering to people with 45 years or more may not allow the booking of appointments for people with lesser age. In that case you may make bookings one by one.  </p>

	<h3> 11. Can I check the vaccine being administered at each vaccination centre? </h3>
	<p> Yes, while scheduling an appointment for vaccination, the system will show vaccination centre names along with the name of the vaccine that will be administered. </p>

	<h3> 12. Can I download appointment slip? </h3>
	<p> Yes, the appointment slip can be downloaded after the appointment has been scheduled. </p>

	<h3> 13. How can I find the nearest vaccination centre? </h3>
	<p> You can search in Vaccine portal (or VaccineApp or CheckIn) for the vaccination centre nearest to your location by either searching through Map, PIN code or by choosing the State and the District.  </p>

	<h3> 14. What if I cannot go for vaccination on the date of appointment? Can I reschedule my appointment? </h3>
	<p> The appointment can be rescheduled at any time. In case you are not able to go for vaccination on the date of appointment, you can reschedule the appointment by clicking on “Reschedule” tab. </p>

	<h3> 15. Do I have an option for cancellation of appointment? </h3>
	<p> Yes, you can cancel an appointment already scheduled. You can also reschedule the appointment and choose another date or time slot of your convenience. </p>
	
	<h3> 16. Where will I receive confirmation of date and time of vaccination? </h3>
	<p> Once an appointment is scheduled, you will receive the details of the vaccination centre, date and time slot chosen for appointment in an SMS sent to your registered mobile number. You can also download the appointment slip and print it or keep it on your smart phone. </p>

	<h3> 17. Can I get vaccination without appointment? </h3>
	<p> Beneficiaries aged 45 years and above can schedule appointments online or walk-in to vaccination centres. Beneficiaries aged 18-44 years can schedule appointment or walk-in for vaccination in Government vaccination centre. However, they should mandatorily register themselves and schedule appointment online before vaccination in Private vaccination centres. </p>
	<p> However, all beneficiaries are recommended to register online and schedule vaccination in advance for a hassle-free vaccination experience. </p>

	<h3> 18. When I click on vaccination centre it shows 'No appointments are available in this period'. What to do? </h3>
	<p> In case of no availability of slots for scheduling appointment for vaccination in the searched vaccination centre, you may try scheduling appointment in other nearby centres. The portal gives you the feature of searching vaccination centres using your PIN code and District. </p>

	<h3> 19. What is the 4-digit secret code on the Account Details page of self-registration portal on Vaccine? </h3>
	<p> At the time of vaccination, you may be asked for the 4-digit secret code. This is to ensure that the rightful beneficiary receives the vaccine dosage and there is no misuse. </p></div>

<div _ngcontent-bap-c10="" class="panel-body card-block card-body">

	<h3> 20. Is it necessary to take 2nd dose of vaccination? </h3>
	<p> Yes. It is recommended that both doses of vaccine should be taken for realising the full benefit of vaccination. Both doses must be of the same vaccine type.</p>

	<h3> 21. When should I take the 2nd dose of vaccination? </h3>
	<p> It is recommended that the 2nd dose of COVAXIN should be administered in the interval of 28 days to 42 days after the 1st dose.
	The 2nd dose of COVISHIELD should be administered in the interval of 84 days to 112 days after the 1st dose. 
	The second dose of SPUTNIK V should be administered in the interval of 21 days to 90 days after the 1st dose.</p>

	<h3> 22. Will my 2nd dose appointment be automatically scheduled by Vaccine system? </h3>
	<p> No. You have to take an appointment for the 2nd dose vaccination. The Vaccine system will help you book an appointment in a Vaccination Centre where the same vaccine is being administered as the vaccine type (COVAXIN, COVISHIELD or SPUTNIK V) of the 1st dose. </p>

	<h3> 23. Whom can I contact if I have some problems related to my online registration of appointment? </h3>
	<p> You can call on the national helpline ‘0529’ for information and guidance on COVID-19 vaccination and Vaccine software related queries. </p></div>

<div _ngcontent-bap-c10="" class="panel-body card-block card-body">
        <h3> 24. Is it necessary to take 2nd dose of vaccination? </h3>
        <p> Yes. It is recommended that both doses of vaccine should be taken for realising the full benefit of vaccination. Both doses must be of the same vaccine type. </p>

   	<h3> 25. When should I take the 2nd dose of vaccination? </h3>
        <p> It is recommended that the 2nd dose of COVAXIN should be administered in the interval of 28 days to 42 days after the 1st dose. The 2nd dose of COVISHIELD should be administered in the interval of 84 days to
        112 days after the 1st dose. The second dose of SPUTNIK V should be administered in the interval of 21 days to 90
        days after the 1st dose.</p>

	<h3> 26. Will my 2nd dose appointment be automatically scheduled by Vaccine system? </h3>
	<p> No. You have to take an appointment for the 2nd dose vaccination. The Vaccine system will help you book an appointment in a Vaccination Centre where the same vaccine
        is being administered as the vaccine type (COVAXIN, COVISHIELD or SPUTNIK V) of the 1st dose. </p>
        
	<h3> 27. Whom can I contact if I have some problems related to my online registration of appointment? </h3>
        <p _ngcontent-bap-c23=""> You can call on the national helpline ‘0529’ for  information and guidance on COVID-19 vaccination and Vaccine software related queries. </p>

</div>

<div _ngcontent-bap-c10="" class="panel-body card-block card-body">

	<h3> 28. Is vaccination free at all vaccination centres? </h3>
	<p> No. Currently, vaccination is free at Government hospitals and charged at INR 250 in Private hospitals for beneficiaries aged 45 years and above. </p>
	<p> From 1st May onwards, the Vaccination for people of 45 years or more will continue to be free at the Government facilities. 
	For people between 18 to 44 years the States will announce the policy relating to payment. Vaccination will be priced by private facilities and you can see the price of each vaccine at the time of booking. </p>

	<h3> 29. Can I check the price of the vaccine? </h3>
	<p> Yes. The System will show the price of the vaccine below the name of the vaccination centre at the time of scheduling an appointment. </p>

	<h3> 30. Can I choose the vaccine? </h3>
	<p> System will show the vaccine being administered in each vaccination centre at the time of scheduling an appointment. Beneficiary can choose the vaccination centre as per their choice of vaccine being administered. </p>

	<h3> 31. What precautions should I take at the time of 2nd dose vaccination? </h3>
	<p> The Vaccination Centres have been directed to ensure that if a beneficiary is being vaccinated with 2nd dose, they should confirm that the first dose vaccination was done with the same vaccine as is being offered at the time of second dose and that the first dose was administered more than 28 days ago for COVAXIN, 84 days ago for COVISHIELD and 21 days ago for SPUTNIK V. You should share the correct information about the vaccine type and the date of 1st dose vaccination with the vaccinator. You should carry your vaccine certificate issued after the first dose. </p>

	<h3> 32. I have taken the first dose of Covid Vaccination through on-spot registration. When I tried to book a second dose online, it asked me to schedule an appointment for the first dose. What to do? </h3>
	<p> Please ensure that you are using the same mobile number for second dose online appointment booking which you had used at the time of first dose. </p>

	<h3> 33. Can I get vaccinated with 2nd dose in a different State/District? </h3>
	<p> Yes, you can get vaccinated in any State/District. The only restriction is that you will be able to get vaccinated only on those centres which are offering the same vaccine as was administered to you on your first dose. </p>

	<h3> 34. Which documents should I carry with me for vaccination? </h3>
	<p> You should carry your identity proof specified by you at the time of registration on the Vaccine portal and a printout/screenshot of your appointment slip. </p>

	<h3> 35.I have registered myself on Vaccine portal. However, I am not able to make any booking as I do not see any vaccination facility near my location? What should I do? </h3>
	<p> Yes, it is possible that no facility near your place has published their vaccination program as yet. You may wait for some time till vaccination facilities near your place are onboarded on Vaccine platform, become active and start their services.</p></div>

<div _ngcontent-bap-c10="" class="panel-body card-block card-body">

	<h3> 36. Why do I need a vaccination certificate? </h3>
	<p> A COVID Vaccine Certificate (CVC) issued by the team of lambton and offers an assurance to the beneficiary on the vaccination, type and date of vaccine used.
	It also is an evidence for the beneficiary to prove to any entities which may require proof of vaccination specially in case of travel.
	Vaccination not only protects individuals from disease, but also reduces their risk of spreading the virus. Therefore, there could be a requirement in future to produce certificate for certain kind of social interactions and international travel. </p>
	<p> In this context the certificate issued by Vaccine has built in security features to guarantee genuineness of the certificate which can be digitally verified using approved utilities which are provided in Vaccine portal. </p>

	<h3> 37. Who is responsible for providing the vaccination certificate? </h3>
	<p> The Vaccination Centre is responsible for generating your certificate and for providing a printed copy post vaccination on the day of vaccination itself. Please do insist on receiving the certificate at the Centre. 
	For Private Hospitals, the charges for providing a printed copy of the certificate are included in the service charge for vaccination. </p>

	<h3> 38.Where can I download vaccination certificate from? </h3>
	<p> You can download vaccination certificate from the Vaccine poafter registration. </p>

<!--	<div _ngcontent-bap-c10="" class="panel-body card-block card-body">-->
	<h3> 40. Whom do I contact in case of side effects from vaccination? </h3>
	<p> You can contact on any of the following details: <br> a. Helpline Number: +91-11-23978046 (Toll free - 1075)<br> b. Technical Helpline Number: 0120-4473222<br> c. Helpline Email Id: support@lambtonGroup4.gov<br> You may also contact the Vaccination Centre where you took vaccination, for advice. </p></div>

	    
	    
	    <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <p> Copyright ©  Lambton COVID. All Rights Reserved </p>
                    </div>
                    <div class="col-6 text-right">
                        <p>Group-4 | CSAT Emerging Technologies</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
